.popular {
  margin-top: 95px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  margin-top: 30px;
}

.popularBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popularButtons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.popular button {
  background: white;
  border: 1px solid #003585;
  color: #003585;
  border-radius: 20px;
  padding: 10px 30px;
  width: 20%;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
}

.popular button:active {
  border: none;
  background: #a7f65c;
  color: white;
}
