.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popularBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularButtons {
  display: flex;
  gap: 20px;
}
